.contact{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0px;
    padding: 40px 0px;
}
.contact-title{
    font-size: 45px;
    margin-block: 40px;
}
.contact-items{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 40px;
}
.contact-item{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.contact-item span{
    font-size: 20px;
}
.input-div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 25px;
}
.input-div input, textarea{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: transparent;
}
.button-div button{
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px 35px;
    border-radius: 10px;
}
.modal-content{
    height: 200px !important;
    background-color: #000014 !important;
}
.modal-header{
    border: none !important;
}
.modal-title{
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}
.modal-body, .modal-footer{
    border: none !important;
}
.modal-body p{
    color: #fff !important;
    text-align: center;
    font-size: 35px;
}
