@font-face {
    font-family: 'Quicksand';
    src: url('./assets/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
}

body{
    background: #000014;
    font-family: "Quicksand", "Rubik", serif;
}
.light-mode{
    background-color: #fff;
    color: #000014 !important;
}
*{
    color: #fff !important;
    list-style: none;
}
a{
    text-decoration: none;
}
ul{
    padding-inline-start: 0px !important;
}

.Loading{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000014;
}
.error{
    color: #f00 !important;
    /* font-size: 25px; */
}
.error-span{
    font-size: 25px;
    color: #f00 !important;
    margin-inline: 10px;
}
.errorInput{
    border: 1px solid #f00;
}
.light-text{
    color: #000 !important;
}
